.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc

.local
.config
.bash_history

R_sessionInfo.log

dev/docker/static_reports/test_data/*
dev/docker/static_reports/test_output/*
!dev/docker/static_reports/test_data/_dummy.txt
!dev/docker/static_reports/test_output/_dummy.txt

!tests/data/
