.nextflow*
work/
data/
results/
.DS_Store
tests/
testing/
testing*
*.pyc

.local
.config
.bash_history

R_sessionInfo.log

dev/docker/static_reports/test_output/alignment_summary.csv

dev/docker/static_reports/test_output/alignment_summary.png

dev/docker/static_reports/test_output/report.pdf

dev/docker/static_reports/test_output/log.txt
