/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/cutandrun Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

/*
*** Flow switching and result output ***
There are three keywords for controling program flow and results output:
    - save_* - Specifies whether to save information to output
    - skip_* - Specifies whether to skip a process of group of processes
    - only_* - Only run the pipeline up to this point
*/

// Global default params, used in configs
params {
    // References
    genome                     = null
    spikein_genome             = "K12-MG1655" // a common E. coli strain, use "R64-1-1" for yeast (S. cerevisiae) spike-in, BDGP6 for the fruit fly (D. melanogaster)
    gene_bed                   = null
    blacklist                  = null
    save_reference             = false
    only_genome                = false

    // Input and merging
    input                      = null
    save_merged_fastq          = false
    only_input                 = false

    // Pre-align QC
    skip_fastqc                = false
    only_preqc                 = false

    // Trimming
    clip_r1                    = 0
    clip_r2                    = 0
    three_prime_clip_r1        = 0
    three_prime_clip_r2        = 0
    trim_nextseq               = 0
    save_trimmed               = false
    skip_trimming              = false

    // Alignment
    aligner                    = "bowtie2"
    save_spikein_aligned       = false
    save_unaligned             = false
    only_alignment             = false
    save_align_intermed        = false
    end_to_end                 = true

    // Filtering
    minimum_alignment_q_score  = 20
    remove_mitochondrial_reads = false
    mito_name                  = null

    // Deduplication
    skip_removeduplicates      = false
    dedup_target_reads         = false
    only_filtering             = false
    remove_linear_duplicates   = false

    // Read Normalisation
    normalisation_mode         = "Spikein"
    normalisation_binsize      = 50
    normalisation_c            = 10000
    igg_scale_factor           = 0.5

    // Peak Caller default param
    peakcaller                 = 'seacr'

    // Peak Calling
    use_control                = true
    only_peak_calling          = false
    extend_fragments           = true
    seacr_norm                 = 'non'
    seacr_stringent            = 'stringent'
    seacr_peak_threshold       = 0.05
    macs2_pvalue               = null
    macs2_qvalue               = 0.01
    macs_gsize                 = 2700000000.0
    macs2_narrow_peak          = true
    macs2_broad_cutoff         = 0.1

    // Consensus Peaks
    consensus_peak_mode        = 'group'
    replicate_threshold        = 1.0

    // Reporting and Visualisation
    skip_reporting             = false
    skip_igv                   = false
    skip_heatmaps              = false
    skip_dt_qc                 = false
    skip_peak_qc               = false
    skip_preseq                = false
    skip_multiqc               = false
    dump_scale_factors         = false
    igv_show_gene_names        = true
    igv_sort_by_groups         = true
    min_frip_overlap           = 0.2
    min_peak_overlap           = 0.2

    // Deeptools options
    dt_heatmap_gene_bodylen    = 5000
    dt_heatmap_gene_beforelen  = 3000
    dt_heatmap_gene_afterlen   = 3000
    dt_heatmap_peak_beforelen  = 3000
    dt_heatmap_peak_afterlen   = 3000
    dt_qc_bam_binsize          = 500
    dt_qc_corr_method          = "pearson"
    fragment_size              = 100 // PARAM NOT USED
    dt_calc_all_matrix         = true

    // Boilerplate options
    outdir                            = "./results"
    publish_dir_mode                  = "copy"
    multiqc_config                    = null
    multiqc_title                     = null
    multiqc_logo                      = null
    multiqc_methods_description       = null
    email                             = null
    email_on_fail                     = null
    max_multiqc_email_size            = "25.MB"
    plaintext_email                   = false
    monochrome_logs                   = false
    hook_url                          = null
    help                              = false
    version                           = false
    igenomes_base                     = "s3://ngi-igenomes/igenomes/"
    igenomes_ignore                   = false
    singularity_pull_docker_container = false

    // Config options
    custom_config_version      = "master"
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_name        = null
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null

    // Max resource options
    max_memory                 = "128.GB"
    max_cpus                   = 16
    max_time                   = "240.h"

    // Schema validation default options
    validationFailUnrecognisedParams = false
    validationLenientMode            = false
    validationSchemaIgnoreParams     = 'igenomes_base,genomes,callers,dedup_control_only,fragment_size,run_igv,run_multiqc,run_reporting,run_consensus_all,run_peak_calling,run_remove_dups,run_remove_linear_dups,run_mark_dups,run_read_filter,run_alignment,run_trim_galore_fastqc,run_cat_fastq,run_input_check,run_genome_prep,run_peak_qc,run_deeptools_qc,run_deeptools_heatmaps,run_preseq'
    validationShowHiddenParams       = false
    validate_params                  = true
}

// Load base.config by default for all pipelines
includeConfig "conf/base.config"

// Load resources.config by default for all pipelines
includeConfig "conf/resources.config"

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// // Load nf-core/cutandrun custom config
// try {
//     includeConfig "${params.custom_config_base}/pipeline/cutandrun.config"
// } catch (Exception e) {
//     System.err.println("WARNING: Could not load nf-core/config/cutandrun profiles: ${params.custom_config_base}/pipeline/cutandrun.config")
// }

profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        channels               = ['conda-forge', 'bioconda', 'defaults']
        apptainer.enabled      = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions      = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled         = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    shifter {
        shifter.enabled        = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    charliecloud {
        charliecloud.enabled   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 4
        executor.memory        = 8.GB
    }

    laptop                    { includeConfig "conf/laptop.config"                    } // Sets up compute resources for local computing run
    test                      { includeConfig "conf/test.config"                      } // Runs a single sample with an IgG control
    test_fasta_only           { includeConfig "conf/test_fasta_only.config"           } // Runs a single sample with an IgG control but with no extra genome files just as bed files and black lists
    test_no_genome            { includeConfig "conf/test_no_genome.config"           } // Runs the same as basic test but with no preset genome files, just the genome id
    test_tech_reps            { includeConfig "conf/test_tech_reps.config"            } // Runs a single sample with two technical replicates and an IgG control
    test_full_small           { includeConfig "conf/test_full_small.config"           } // Runs a full experimental configuration but with a small dataset
    test_no_control           { includeConfig "conf/test_no_control.config"           } // Runs a single sample with NO IgG control
    test_full                 { includeConfig "conf/test_full.config"                 } // Runs a full experimental dataset
    test_full_multi           { includeConfig "conf/test_full_multi.config"           } // Runs a full experimental dataset with extra fake replicates to enable full reporting functionality
    test_local_zip            { includeConfig "conf/test_local_zip.config"            } // Runs a single sample with an IgG control but that targets local, already downloaded compressed input files
    test_full_small_local_zip { includeConfig "conf/test_full_small_local_zip.config" } // Runs a full experimental configuration but with a small dataset but that targets local, already downloaded compressed input files
    test_linear_dedup         { includeConfig "conf/test_linear_dedup.config"         } // Runs a full experimental configuration including the removal of linear amplification duplicates
}

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'

// Nextflow plugins
plugins {
    id 'nf-validation@1.1.3' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

// Load igenomes.config if required
if (!params.igenomes_ignore) {
    includeConfig 'conf/igenomes.config'
} else {
    params.genomes = [:]
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ["/bin/bash", "-euo", "pipefail"]

def trace_timestamp = new java.util.Date().format( "yyyy-MM-dd_HH-mm-ss")
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'nf-core/cutandrun'
    author          = """Chris Cheshire, Charlotte West and Tamara Hodgetts"""
    homePage        = 'https://github.com/nf-core/cutandrun'
    description     = """Analysis pipeline for CUT&RUN and CUT&TAG experiments that includes sequencing QC, spike-in normalisation, IgG control normalisation, peak calling and downstream peak analysis."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '3.2.3'
    doi             = 'https://doi.org/10.5281/zenodo.5653535'
}

// Load flowswitch.config
includeConfig 'conf/flowswitch.config'

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == "memory") {
        try {
        if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
            return params.max_memory as nextflow.util.MemoryUnit
        else
            return obj
        } catch (all) {
        println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
        return obj
        }
    } else if (type == "time") {
        try {
        if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
            return params.max_time as nextflow.util.Duration
        else
            return obj
        } catch (all) {
        println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
        return obj
        }
    } else if (type == "cpus") {
        try {
        return Math.min( obj, params.max_cpus as int )
        } catch (all) {
        println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
        return obj
        }
    }
}
