/*
 * ---------------------------------------------------
 *  Nextflow config file for deciding which parts of
 *  the pipeline will run
 * ---------------------------------------------------
 */

// Defaults
params {
    run_genome_prep        = true
    run_input_check        = true
    run_cat_fastq          = true
    run_trim_galore_fastqc = true

    run_alignment          = true
    run_read_filter        = true
    run_preseq             = true
    run_mark_dups          = true
    run_remove_dups        = true
    run_remove_linear_dups = false

    run_peak_calling       = true
    run_consensus_all      = false

    run_reporting          = true
    run_deeptools_heatmaps = true
    run_deeptools_qc       = true
    run_peak_qc            = true
    run_multiqc            = true
    run_igv                = true
}

params.callers = params.peakcaller ? params.peakcaller.split(',').collect{ it.trim().toLowerCase() } : ['seacr']

if(params.consensus_peak_mode == 'all') { params.run_consensus_all  = true  }
if(params.remove_linear_duplicates)     { params.run_remove_linear_dups = true  }

if(params.skip_removeduplicates || !params.run_mark_dups) { params.run_remove_dups        = false }
if(params.skip_removeduplicates)                          { params.run_remove_linear_dups = false }
if(params.skip_preseq)                                    { params.run_preseq             = false }
if(params.skip_heatmaps)                                  { params.run_deeptools_heatmaps = false }
if(params.skip_dt_qc)                                     { params.run_deeptools_qc       = false }
if(params.skip_peak_qc)                                   { params.run_peak_qc            = false }
if(params.skip_igv)                                       { params.run_igv                = false }
if(params.skip_reporting) {
    params.run_reporting     = false
    params.run_preseq        = false
    params.run_multiqc       = false
}

if(params.only_input) {
    params.run_genome_prep        = false
    params.run_cat_fastq          = false
    params.run_trim_galore_fastqc = false
    params.run_alignment          = false
    params.run_read_filter        = false
    params.run_preseq             = false
    params.run_mark_dups          = false
    params.run_remove_dups        = false
    params.run_remove_linear_dups = false
    params.run_peak_calling       = false
    params.run_reporting          = false
    params.run_multiqc            = false
}

if(params.only_genome) {
    params.run_input_check        = false
    params.run_cat_fastq          = false
    params.run_trim_galore_fastqc = false
    params.run_alignment          = false
    params.run_read_filter        = false
    params.run_preseq             = false
    params.run_mark_dups          = false
    params.run_remove_dups        = false
    params.run_remove_linear_dups = false
    params.run_peak_calling       = false
    params.run_reporting          = false
    params.run_multiqc            = false
}

if(params.only_preqc) {
    params.run_genome_prep  = false
    params.run_alignment    = false
    params.run_read_filter  = false
    params.run_preseq       = false
    params.run_mark_dups    = false
    params.run_remove_dups  = false
    params.run_remove_linear_dups = false
    params.run_peak_calling = false
    params.run_reporting    = false
    params.run_multiqc      = true
}

if(params.only_alignment) {
    params.run_read_filter  = false
    params.run_preseq       = false
    params.run_mark_dups    = false
    params.run_remove_dups  = false
    params.run_remove_linear_dups = false
    params.run_peak_calling = false
    params.run_reporting    = false
    params.run_multiqc      = true
}

if(params.only_filtering) {
    params.run_peak_calling = false
    params.run_reporting    = false
    params.run_multiqc      = true
}

if(params.only_peak_calling) {
    params.run_reporting = false
    params.run_multiqc   = true
}

if(params.skip_multiqc) { params.run_multiqc = false }
