/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

/*
========================================================================================
    GENERAL
========================================================================================
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }
}

/*
========================================================================================
    INPUT
========================================================================================
*/

if(params.run_input_check) {
    process {
        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:INPUT_CHECK:SAMPLESHEET_CHECK' {
            publishDir = [
                path: { "${params.outdir}/pipeline_info" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}

/*
========================================================================================
    GENOME PREPARATION
========================================================================================
*/

if (params.run_genome_prep) {
    process {
        withName: '.*PREPARE_GENOME:GUNZIP_.*' {
            publishDir = [
                path: { "${params.outdir}/00_genome" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: params.save_reference
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:PREPARE_GENOME:UNTAR_.*' {
            ext.args2 = '--no-same-owner'
        }

        withName: '.*CHROMSIZES' {
            publishDir = [
                path: { "${params.outdir}/00_genome" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: params.save_reference
            ]
        }

        withName: 'UNTAR_INDEX_.*|TARGET|SPIKEIN' {
            publishDir = [
                path: { "${params.outdir}/00_genome/index" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: params.save_reference
            ]
        }

        withName: 'BOWTIE2_BUILD_.*|TARGET|SPIKEIN' {
            publishDir = [
                path: { "${params.outdir}/00_genome/index" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: params.save_reference
            ]
        }
    }
}

/*
========================================================================================
    PRE-ALIGNMENT
========================================================================================
*/

if(params.run_cat_fastq) {
    process {
        withName: 'CAT_FASTQ' {
            publishDir = [
                path: { "${params.outdir}/01_prealign/merged_fastq" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: params.save_merged_fastq
            ]
        }
    }
}

if(params.run_trim_galore_fastqc && !params.skip_fastqc) {
    process {
        withName: '.*:FASTQC_TRIMGALORE:FASTQC' {
            ext.args   = '--quiet'
            publishDir = [
                path: { "${params.outdir}/01_prealign/pretrim_fastqc" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            ]
        }
    }
}

if(params.run_trim_galore_fastqc && !params.skip_trimming) {
    process {
        withName: '.*:FASTQC_TRIMGALORE:TRIMGALORE' {
            ext.args   = [
                '--fastqc',
                params.trim_nextseq > 0 ? "--nextseq ${params.trim_nextseq}" : ''
            ].join(' ').trim()
            publishDir = [
                [
                    path: { "${params.outdir}/01_prealign/trimgalore/fastqc" },
                    mode: 'copy',
                    pattern: "*.{html,zip}"
                ],
                [
                    path: { "${params.outdir}/01_prealign/trimgalore" },
                    mode: 'copy',
                    pattern: "*.fastq.gz",
                    enabled: params.save_trimmed
                ],
                [
                    path: { "${params.outdir}/01_prealign/trimgalore" },
                    mode: 'copy',
                    pattern: "*.txt"
                ]
            ]
        }
    }
}

/*
========================================================================================
    ALIGNMENT
========================================================================================
*/

if(params.run_alignment) {
    process {
        withName: '.*:ALIGN_BOWTIE2:BOWTIE2_ALIGN' {
            ext.args   = { params.skip_trimming ? '--end-to-end --very-sensitive --no-mixed --no-discordant --phred33 -I 10 -X 700' : '--local --very-sensitive --no-mixed --no-discordant --phred33 -I 10 -X 700' }
            publishDir = [
                [
                    path: { "${params.outdir}/02_alignment/${params.aligner}/target/log" },
                    mode: 'copy',
                    pattern: '*.log'
                ],
                [
                    path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                    mode: 'copy',
                    pattern: '*.bam',
                    enabled: ( params.save_align_intermed || (!params.run_q_filter && !params.run_mark_dups && !params.run_remove_dups) )
                ],
                [
                    path: { "${params.outdir}/02_alignment/${params.aligner}/target/unmapped" },
                    mode: 'copy',
                    pattern: '*.fastq.gz',
                    enabled: params.save_unaligned
                ]
            ]
        }

        withName: '.*:ALIGN_BOWTIE2:BOWTIE2_SPIKEIN_ALIGN' {
            ext.args   = { params.skip_trimming ? '--end-to-end --very-sensitive --no-overlap --no-dovetail --no-mixed --no-discordant --phred33 -I 10 -X 700' : '--local --very-sensitive --no-overlap --no-dovetail --no-mixed --no-discordant --phred33 -I 10 -X 700' }
            ext.prefix = { "${meta.id}.spikein" }
            publishDir = [
                [
                    path: { "${params.outdir}/02_alignment/${params.aligner}/spikein/log" },
                    mode: 'copy',
                    pattern: '*.log'
                ],
                [
                    path: { "${params.outdir}/02_alignment/${params.aligner}/spikein" },
                    mode: 'copy',
                    pattern: '*.bam',
                    enabled: params.save_spikein_aligned
                ],
                [
                    path: { "${params.outdir}/02_alignment/${params.aligner}/spikein/unmapped" },
                    mode: 'copy',
                    pattern: '*.fastq.gz',
                    enabled: ( params.save_spikein_aligned && params.save_unaligned )
                ]
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:.*:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                mode: 'copy',
                pattern: "*.{stats,flagstat,idxstats}",
                enabled: ( params.save_align_intermed || (!params.run_q_filter && !params.run_mark_dups && !params.run_remove_dups) )
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:.*:BAM_SORT_SAMTOOLS_SPIKEIN:BAM_STATS_SAMTOOLS:.*' {
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/spikein" },
                mode: 'copy',
                pattern: "*.{stats,flagstat,idxstats}",
                enabled: params.save_spikein_aligned
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:.*:BAM_SORT_SAMTOOLS:SAMTOOLS_SORT' {
            ext.prefix = { "${meta.id}.target.sorted" }
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                mode: 'copy',
                pattern: "*.bam",
                enabled: ( params.save_align_intermed || (!params.run_q_filter && !params.run_mark_dups && !params.run_remove_dups) )
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:.*:BAM_SORT_SAMTOOLS_SPIKEIN:SAMTOOLS_SORT' {
            ext.prefix = { "${meta.id}.spikein.sorted" }
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/spikein" },
                mode: 'copy',
                pattern: "*.bam",
                enabled: params.save_spikein_aligned
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:.*:BAM_SORT_SAMTOOLS:SAMTOOLS_INDEX' {
            ext.prefix = { "${meta.id}.target.sorted" }
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                mode: 'copy',
                pattern: "*.bai",
                enabled: ( params.save_align_intermed || (!params.run_q_filter && !params.run_mark_dups && !params.run_remove_dups) )
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:.*:BAM_SORT_SAMTOOLS_SPIKEIN:SAMTOOLS_INDEX' {
            ext.prefix = { "${meta.id}.spikein.sorted" }
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/spikein" },
                mode: 'copy',
                pattern: "*.bai",
                enabled: params.save_spikein_aligned
            ]
        }
    }
}

/*
========================================================================================
    Q-FILTERING
========================================================================================
*/

if(params.run_q_filter) {
    process {
        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:SAMTOOLS_VIEW_SORT_STATS:SAMTOOLS_VIEW' {
            ext.args = "-b -q ${params.minimum_alignment_q_score}"
            ext.prefix = { "${meta.id}.target.filtered" }
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                mode: 'copy',
                pattern: "*.bam",
                enabled: ( params.save_align_intermed || (!params.run_mark_dups && !params.run_remove_dups) )
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:SAMTOOLS_VIEW_SORT_STATS:SAMTOOLS_SORT' {
            ext.prefix = { "${meta.id}.target.filtered.sorted" }
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                mode: 'copy',
                pattern: "*.bam",
                enabled: ( params.save_align_intermed || (!params.run_mark_dups && !params.run_remove_dups) )
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:SAMTOOLS_VIEW_SORT_STATS:SAMTOOLS_INDEX' {
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                mode: 'copy',
                pattern: "*.bai",
                enabled: ( params.save_align_intermed || (!params.run_mark_dups && !params.run_remove_dups) )
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:SAMTOOLS_VIEW_SORT_STATS:BAM_STATS_SAMTOOLS:.*' {
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                mode: 'copy',
                pattern: "*.{stats,flagstat,idxstats}",
                enabled: ( params.save_align_intermed || (!params.run_mark_dups && !params.run_remove_dups) )
            ]
        }
    }
}

/*
========================================================================================
    DUPLICATES
========================================================================================
*/

if(params.run_mark_dups) {
    process {
        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:MARK_DUPLICATES_PICARD:PICARD_MARKDUPLICATES' {
            ext.args = "--ASSUME_SORT_ORDER coordinate --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp"
            ext.prefix = { "${meta.id}.target.markdup" }
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                mode: 'copy',
                pattern: "*.bam",
                enabled: ( params.save_align_intermed || (!params.run_remove_dups) || (!params.dedup_target_reads) )
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:MARK_DUPLICATES_PICARD:SAMTOOLS_INDEX' {
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                mode: 'copy',
                pattern: "*.bai",
                enabled: ( params.save_align_intermed || (!params.run_remove_dups) )
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:MARK_DUPLICATES_PICARD:BAM_STATS_SAMTOOLS:.*' {
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                mode: 'copy',
                pattern: "*.{stats,flagstat,idxstats}",
                enabled: ( params.save_align_intermed || (!params.run_remove_dups) )
            ]
        }
    }
}

if(params.run_remove_dups) {
    process {
        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:DEDUPLICATE_PICARD:PICARD_MARKDUPLICATES' {
            ext.args = "--ASSUME_SORT_ORDER coordinate --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp"
            ext.prefix = { "${meta.id}.target.dedup" }
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                mode: 'copy',
                pattern: "*.bam",
                enabled: true
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:DEDUPLICATE_PICARD:SAMTOOLS_INDEX' {
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                mode: 'copy',
                pattern: "*.bai",
                enabled: true
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:DEDUPLICATE_PICARD:BAM_STATS_SAMTOOLS:.*' {
            publishDir = [
                path: { "${params.outdir}/02_alignment/${params.aligner}/target" },
                mode: 'copy',
                pattern: "*.{stats,flagstat,idxstats}",
                enabled: true
            ]
        }
    }
}

/*
========================================================================================
    ANNOTATE META WITH ALIGN AND DUP STATS
========================================================================================
*/

if (params.run_alignment) {
    process {
        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:ANNOTATE_BT2_META:AWK_SCRIPT' {
            ext.suffix = ".target"
            publishDir = [
                enabled: false
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:ANNOTATE_BT2_SPIKEIN_META:AWK_SCRIPT' {
            ext.suffix = ".dedup"
            publishDir = [
                enabled: false
            ]
        }
    }
}

if (params.run_mark_dups) {
    process {
        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:ANNOTATE_DEDUP_META:AWK' {
            ext.suffix = ".awk"
            ext.command = "'/^[^#]/{print}'"
            ext.command2 = " > int1.txt && head -2 int1.txt > int2.txt && sed 's/\\t/,/g' int2.txt > int3.txt && sed 's/.*/\\L&/g' int3.txt "
            publishDir = [
                enabled: false
            ]
        }
    }
}

/*
========================================================================================
    SCALING/CONVERSION AND PEAK CALLING
========================================================================================
*/

if(params.run_peak_calling && (params.normalisation_mode == "Spikein" || params.normalisation_mode == "None")) {
    process {
        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:PREPARE_PEAKCALLING:BEDTOOLS_GENOMECOV' {
            ext.args = "-bg"
            publishDir = [
                enabled: false
            ]
        }
    }
}

if(params.run_peak_calling && (params.normalisation_mode != "Spikein" && params.normalisation_mode != "None")) {
    process {
        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:PREPARE_PEAKCALLING:DEEPTOOLS_BAMCOVERAGE' {
            ext.args   = [
                '--outFileFormat bedgraph',
                '--skipNAs',
                "--binSize ${params.normalisation_binsize}",
                "--normalizeUsing ${params.normalisation_mode}"
            ].join(' ').trim()
            ext.prefix = { "${meta.id}.bedgraph" }
            publishDir = [
                enabled: false
            ]
        }
    }
}

if(params.run_peak_calling) {
    process {
        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:PREPARE_PEAKCALLING:BEDTOOLS_SORT' {
            ext.prefix = { "${meta.id}.sorted" }
            publishDir = [
                path: { "${params.outdir}/03_peak_calling/01_bam_to_bedgraph" },
                mode: 'copy',
                pattern: "*.bedGraph",
                enabled: true
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:PREPARE_PEAKCALLING:UCSC_BEDCLIP' {
            ext.prefix = { "${meta.id}.clipped" }
            publishDir = [
                path: { "${params.outdir}/03_peak_calling/02_clip_bed" },
                mode: 'copy',
                pattern: "*.bedGraph",
                enabled: true
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:PREPARE_PEAKCALLING:UCSC_BEDGRAPHTOBIGWIG' {
            publishDir = [
                path: { "${params.outdir}/03_peak_calling/03_bed_to_bigwig" },
                mode: 'copy',
                pattern: "*.bigWig",
                enabled: true
            ]
        }
    }
}

if(params.run_peak_calling && 'seacr' in params.callers) {
    process {
        withName: '.*:CUTANDRUN:SEACR_.*' {
            ext.args   = "non stringent"
            ext.prefix = { "${meta.id}.seacr.peaks.bed" }
            publishDir = [
                path: { "${params.outdir}/03_peak_calling/04_called_peaks" },
                mode: 'copy',
                pattern: "*.bed",
                enabled: true
            ]
        }
    }
}

if(params.run_peak_calling && 'macs2' in params.callers) {
    process {
        withName: '.*:CUTANDRUN:MACS2_.*' {
            ext.args   = "-p ${params.macs2_pvalue}"
            ext.prefix = { "${meta.id}.macs2.peaks.bed" }
            publishDir = [
                path: { "${params.outdir}/03_peak_calling/04_called_peaks" },
                mode: 'copy',
                pattern: "*.bed",
                enabled: true
            ]
        }
    }
}

/*
========================================================================================
    CONSENSUS PEAKS
========================================================================================
*/

if(params.run_peak_calling) {
    process {
        withName: '.*:AWK_NAME_PEAK_BED' {
            ext.command = "'{OFS = \"\\t\"} {print \$0, FILENAME}'"
            ext.ext     = "bed"
            publishDir = [
                enabled: false
            ]
        }

        withName: '.*:CONSENSUS_PEAKS:SORT|.*:CONSENSUS_PEAKS_ALL:SORT' {
            ext.args   = "-k1,1 -k2,2n"
            ext.ext    = "bed"
            publishDir = [
                enabled: false
            ]
        }

        withName: '.*:CONSENSUS_PEAKS:BEDTOOLS_MERGE|.*:CONSENSUS_PEAKS_ALL:BEDTOOLS_MERGE' {
            ext.args   = " -c 2,3,4,5,6,7,7 -o collapse,collapse,collapse,collapse,collapse,collapse,count_distinct"
            ext.prefix = { "${meta.id}.consensus.peaks" }
            publishDir = [
                path: { "${params.outdir}/03_peak_calling/05_consensus_peaks" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }

        withName: '.*:CONSENSUS_PEAKS:PLOT_CONSENSUS_PEAKS|.*:CONSENSUS_PEAKS_ALL:PLOT_CONSENSUS_PEAKS' {
            publishDir = [
                path: { "${params.outdir}/04_reporting" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: params.skip_upset_plots
            ]
        }
    }
}

if(params.run_peak_calling && !params.run_consensus_all) {
    process {
        withName: '.*:CONSENSUS_PEAKS:AWK' {
            ext.command = "' \$10 >= " + params.replicate_threshold.toString() + " {print \$0}'"
            ext.ext     = "bed"
            ext.suffix  = ".consensus.peaks.filtered"
            publishDir  = [
                path: { "${params.outdir}/03_peak_calling/05_consensus_peaks" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }
    }
}

if(params.run_peak_calling && params.run_consensus_all) {
    process {
        withName: '.*:CONSENSUS_PEAKS_ALL:AWK' {
            ext.command = "' \$10 >= " + params.replicate_threshold.toString() + " {print \$0}'"
            ext.ext    = "bed"
            publishDir = [
                path: { "${params.outdir}/03_peak_calling/05_consensus_peaks" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }
    }
}

/*
========================================================================================
    CALCULATE FRAGMENTS
========================================================================================
*/

if(params.run_peak_calling) {
    process {
        withName: '.*:CALCULATE_FRAGMENTS:SAMTOOLS_VIEW' {
            ext.args = "-F 0x04 -b"
            ext.prefix = { "${meta.id}.mapped" }
            publishDir = [
                enabled: false
            ]
        }

        withName: '.*:CALCULATE_FRAGMENTS:SAMTOOLS_SORT' {
            ext.args = "-n"
            ext.prefix = { "${meta.id}.mapped.sorted" }
            publishDir = [
                enabled: false
            ]
        }

        withName: '.*:CALCULATE_FRAGMENTS:BEDTOOLS_BAMTOBED' {
            ext.args = "-bedpe"
            publishDir = [
                enabled: false
            ]
        }

        withName: '.*:CALCULATE_FRAGMENTS:AWK' {
            ext.command = "'\$1==\$4 && \$6-\$2 < 1000 {print \$0}'"
            ext.suffix = ".filt"
            ext.ext    = "bed"
            publishDir = [
                enabled: false
            ]
        }

        withName: '.*:CALCULATE_FRAGMENTS:CUT' {
            ext.args    = "-f 1,2,6"
            ext.command = "| sort -T '.' -k1,1 -k2,2n -k3,3n"
            ext.suffix  = ".frags"
            ext.ext     = "bed"
            publishDir  = [
                path: { "${params.outdir}/03_peak_calling/06_fragments" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:AWK_FRAG_BIN' {
            ext.args     = "-v w=500"
            ext.command  = "'{print \$1, int((\$2 + \$3)/(2*w))*w + w/2, FILENAME}'"
            ext.command2 = "| sort -T '.' -k1,1V -k2,2n | uniq -c | awk -v OFS=\"\\t\" '{print \$2, \$3, \$1, \$4}' | sort -T '.' -k1,1V -k2,2n"
            ext.suffix   = ".frags.bin500"
            ext.ext      = "bed"
            publishDir   = [
                path: { "${params.outdir}/03_peak_calling/06_fragments" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:SAMTOOLS_CUSTOMVIEW' {
            ext.args     = "-F 0x04"
            ext.args2    = "awk -F'\\t' 'function abs(x){return ((x < 0.0) ? -x : x)} {print abs(\$9)}' | sort -T '.' | uniq -c | awk -v OFS=\"\\t\" '{print \$2, \$1/2}'"
            ext.suffix   = ".frags.len"
            publishDir   = [
                path: { "${params.outdir}/03_peak_calling/06_fragments" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }
    }
}

/*
========================================================================================
    REPORTING
========================================================================================
*/

if(params.run_reporting && params.run_igv) {
    process {
        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:IGV_SESSION' {
            publishDir   = [
                path: { "${params.outdir}/04_reporting/igv" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }
    }
}

if(params.run_reporting && params.run_deep_tools) {
    process {
        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:AWK_EDIT_PEAK_BED' {
            ext.command = "'{split(\$6, summit, \":\"); split(summit[2], region, \"-\"); print summit[1]\"\\t\"region[1]\"\\t\"region[2]}'"
            ext.suffix  = ".max_signal"
            publishDir  = [
                enabled: false
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:DEEPTOOLS_COMPUTEMATRIX_GENE' {
            ext.args = "scale-regions --beforeRegionStartLength 3000 --regionBodyLength 5000 --afterRegionStartLength 3000 --skipZeros --missingDataAsZero"
            publishDir   = [
                path: { "${params.outdir}/04_reporting/heatmaps/gene" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:DEEPTOOLS_PLOTHEATMAP_GENE' {
            ext.args = "--sortUsing sum"
            publishDir   = [
                path: { "${params.outdir}/04_reporting/heatmaps/gene" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:DEEPTOOLS_COMPUTEMATRIX_PEAKS' {
            ext.args = "reference-point -a 3000 -b 3000 --referencePoint center --skipZeros --missingDataAsZero"
            publishDir   = [
                path: { "${params.outdir}/04_reporting/heatmaps/peaks" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:DEEPTOOLS_PLOTHEATMAP_PEAKS' {
            ext.args = "--sortUsing sum --startLabel \"Peak Start\" --endLabel \"Peak End\" --xAxisLabel \"\" --regionsLabel \"Peaks\""
            publishDir   = [
                path: { "${params.outdir}/04_reporting/heatmaps/peaks" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }
    }
}

if(params.run_reporting) {
    process {
        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:CALCULATE_FRIP' {
            publishDir  = [
                enabled: false
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:CUT_CALC_REPROD' {
            ext.args   = "-f 1,2,3,6"
            ext.suffix = ".repro"
            ext.ext    = "bed"
            publishDir  = [
                enabled: false
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:BEDTOOLS_INTERSECT' {
            ext.args   = "-C -sorted"
            publishDir  = [
                enabled: false
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:CALCULATE_PEAK_REPROD' {
            publishDir  = [
                enabled: false
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:EXPORT_META' {
            publishDir   = [
                path: { "${params.outdir}/04_reporting" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:EXPORT_META_CTRL' {
            publishDir   = [
                path: { "${params.outdir}/04_reporting" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }

        withName: 'NFCORE_CUTANDRUN:CUTANDRUN:GENERATE_REPORTS' {
            publishDir   = [
                path: { "${params.outdir}/04_reporting/qc" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }



    }
}

if (params.run_multiqc) {
    process {
        withName: "NFCORE_CUTANDRUN:CUTANDRUN:MULTIQC" {
            ext.args   = params.multiqc_title ? "-v --title \"$params.multiqc_title\"" : '-v'
            publishDir = [
                path: { "${params.outdir}/04_reporting/multiqc" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}
