/*
========================================================================================
    nf-core/cutandrun Nextflow resource config file
========================================================================================
    Minimal and process-specific resource allocation.
----------------------------------------------------------------------------------------
*/

process {
    withLabel:process_min {
        cpus   = { check_max( 1     * task.attempt, 'cpus'    ) }
        memory = { check_max( 2.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 1.h   * task.attempt, 'time'    ) }
    }
    
    withLabel:process_ultralow {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 8.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }
    }
}