/*
========================================================================================
    nf-core/cutandrun Nextflow resource config file
========================================================================================
    Process-specific resource allocation.
----------------------------------------------------------------------------------------
*/

/*
========================================================================================
    MODULE-SPECIFIC RESOURCE ALLOCATION
========================================================================================
*/
process {
    withName: '.*:PREPARE_GENOME:BLACKLIST_BEDTOOLS_COMPLEMENT' {
        cpus   = { 1 * task.attempt }
        memory = { 2.GB * task.attempt }
        time   = { 1.h * task.attempt }
    }

    withName: '.*:ALIGN_BOWTIE2:BOWTIE2_ALIGN' {
        cpus   = { 32 * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }

    withName: '.*:ALIGN_BOWTIE2:BOWTIE2_SPIKEIN_ALIGN' {
        cpus   = { 32 * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }

    withName: 'NFCORE_CUTANDRUN:CUTANDRUN:FRAG_LEN_HIST' {
        cpus   = { 1 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }

    withName: 'NFCORE_CUTANDRUN:CUTANDRUN:DEEPTOOLS_COMPUTEMATRIX_GENE' {
        cpus   = { 16 * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }

    withName: 'NFCORE_CUTANDRUN:CUTANDRUN:DEEPTOOLS_COMPUTEMATRIX_PEAKS' {
        cpus   = { 16 * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }

    withName: 'NFCORE_CUTANDRUN:CUTANDRUN:DEEPTOOLS_PLOTHEATMAP_GENE' {
        cpus   = { 1 * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }

    withName: 'NFCORE_CUTANDRUN:CUTANDRUN:DEEPTOOLS_PLOTHEATMAP_PEAKS' {
        cpus   = { 1 * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
}
