/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/cutandrun -profile test_full,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function with added fake replicates to test the full reporting functionality'

    genome = 'GRCh38'
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/samplesheet_2_0/test-GSE145187-all-multi-rep.csv'
}
