/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for testing condition-aware peak calling
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Tests the new condition metadata and additional peak callers.

    Use as follows:
        nextflow run nf-core/cutandrun -profile test_condition,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test condition-aware profile'
    config_profile_description = 'Test condition metadata and additional peak callers'

    // Limit resources so that this can run CI
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data with condition column
    input = "${projectDir}/assets/samplesheet_test_condition.csv"

    // Genome references (same as test profile)
    fasta                      = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/hg38-chr20.fa.gz'
    bowtie2                    = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/hg38-chr20-bowtie2.tar.gz'
    gtf                        = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/hg38-chr20-genes.gtf.gz'
    gene_bed                   = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/hg38-chr20-genes.bed.gz'
    blacklist                  = "${projectDir}/assets/blacklists/hg38-blacklist.bed"
    spikein_fasta              = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/e_coli_U00096_3.fa.gz'
    spikein_bowtie2            = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/e_coli_U00096_3.tar.gz'
    mito_name                  = 'chrM'

    // Test new features
    peakcaller           = 'seacr,gopeaks_narrow'
    condition_aware_norm = false
    normalisation_scope  = 'global'
}
