/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a more robust test.

    Use as follows:
        nextflow run nf-core/cutandrun -profile test_hg38_chr7,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
  config_profile_name        = 'GSE145187 hg38-chr7'
  config_profile_description = 'Runs on full data for GSE145187 but just on chr7 of hg38 and no IgG control'

  // Limit resources so that this can run CI
  max_cpus   = 2
  max_memory = 6.GB
  max_time   = 6.h

  genome = 'GRCh38'
  input = 'https://raw.githubusercontent.com/luslab/test-datasets/cutandrun/samplesheet/test-GSE145187-noigg-small.csv'
  fasta = 'https://raw.githubusercontent.com/luslab/test-datasets/cutandrun/reference/genomes/hg38-chr7.fa.gz'
  igg_control = false
}
