/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a more robust test.

    Use as follows:
        nextflow run nf-core/cutandrun -profile test_hg38_chr7,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'GSE145187 hg38-chr7'
    config_profile_description = 'Runs on full data for GSE145187 but just on chr7 of hg38 and no IgG control'

    // Limit resources so that this can run CI
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/samplesheet_2_0/test-GSE145187-noigg-small.csv'

    // Genome references
    fasta              = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/hg38-chr20.fa.gz'
    bowtie2            = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/hg38-chr20-bowtie2.tar.gz'
    gtf                = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/hg38-chr20-genes.gtf.gz'
    gene_bed           = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/hg38-chr20-genes.bed.gz'
    blacklist          = "${projectDir}/assets/blacklists/hg38-blacklist.bed"
    spikein_fasta      = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/e_coli_U00096_3.fa.gz'
    spikein_bowtie2    = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/e_coli_U00096_3.tar.gz'

    use_control               = false
}
