/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests including linear deduplication step
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/cutandrun -profile test_linear_dedup,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Linear deduplication test profile'
    config_profile_description = 'Full test dataset to check pipeline function including removal of duplicates from linear amplification'

    genome     = 'GRCh38'
    gene_bed   = null
    input      = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/samplesheet_2_0/test-GSE145187-all.csv'
    peakcaller = 'seacr,MACS2'
    remove_linear_duplicates = true
    dedup_target_reads   = true
}

