/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/cutandrun -profile test_full,<docker/singularity>
 */

params {
  config_profile_name        = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  input = 'https://raw.githubusercontent.com/luslab/test-datasets/cutandrun/samplesheet/test-design-all.csv'
  blacklist = "${projectDir}/assets/blacklists/hg38-blacklist.bed"
  genome = 'GRCh38'  
}
