params {
    outdir = "results/"
    publish_dir_mode = "copy"
      enable_conda = false
    singularity_pull_docker_container = false
}

process {
  cpus = 2
  memory = 6.GB
  time = 6.h
}

if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "conda") {
    params.enable_conda = true
} else {
    docker.enabled = true
    docker.userEmulation = true
    docker.runOptions = "--platform linux/x86_64"
}
